@model WorkforceManagement.Models.ViewModels.ComputerCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>ComputerCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="computer.Make" class="control-label"></label>
                    <input asp-for="computer.Make" class="form-control" required />
                    <span asp-validation-for="computer.Make" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="computer.Manufacturer" class="control-label"></label>
                    <input asp-for="computer.Manufacturer" class="form-control" required />
                    <span asp-validation-for="computer.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="computer.PurchaseDate" class="control-label"></label>
                    <input asp-for="computer.PurchaseDate" class="form-control" required />
                    <span asp-validation-for="computer.PurchaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="employeeId" class="control-label">Assign Employee</label>

                    <select asp-for="employeeId" asp-items="@Model.Employees"></select>
                    <span asp-validation-for="employeeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
